.btn{
    border: 1px solid;
    background-color: aliceblue;
    color: blue;
}
.head1{
font-size: 90px;
font-weight: bold;

}
#nav{
    margin-top: 5vh;
    
}
.card{
    display: flex;

}
.header{
    padding-left: 25%;
    padding-top: 4%;
}


@media screen and (min-width:425px) {
    
}

@media screen (min-width:768px) {
    
    .card{
        
    }
}